#inputs {
    background-color: #FFFD;
    text-align: center;
    position: absolute;
    width: 20%;
    top: 10%;
    left: 30px;
    z-index: 4;
    padding: 15px;
    height: 80%;
    border: 1px solid #337ab7;
}

@media (max-width: 950px) {
    #inputs {
        width: 35%;
    }
}

#inputs-content {
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

#inputs-content h3 {
  margin-bottom: 30px;
  color: #555;
}

#inputs-content p {
  margin: 20px 0;
}

@media (max-width: 540px) {
  #inputs p {
    display: none;
  }
}
