#inputs {
    background-color: #FFF3;
    text-align: center;
    position: absolute;
    width: 20%;
    top: 30%;
    left: 30px;
    z-index: 4;
    padding: 15px;
}

@media (max-width: 700px) {
    #inputs {
        width: 35%;
    }
}

/* @media (min-width: 1000px) {
    #inputs .form-group {
        width: 180px;
    }
} */
